<!---
Auteur : Daniele Castro
-->


{% extends 'template_base.html' %}
{% load static %}

{% block contenu %}
<!-- Google Font -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

<br>
<h1 style="margin-left: 22%">Finalisez votre location</h1>
<br>
<br>


<form style="margin-left: 25% ; margin-right: 30%" action="" method="POST">
     {%  csrf_token %}
  <div class="form-group">
    <label>Date de debut<sup style="color: red">*</sup> :</label>
    <input  class="form-control" type="date" placeholder="Date debut" for={{formLocationVelo.date_debut}}
  </div>
  <div class="form-group">
    <label>Date de fin<sup style="color: red">*</sup> :</label>
    <input  class="form-control" type="date" placeholder="Date fin" for={{formLocationVelo.date_fin}}
  </div>
  <a style="color: red">{{messageErreur}}</a><br><br>
  <a href="{% url 'stock_velos:indexDetailsVeloClient' velo.vel_num%}" class="btn btn-primary" role="button" aria-pressed="true" >Annuler</a>
  <input type="submit" value="Envoyer" class="btn btn-primary" href="{% url 'location:finaliserLocationClient' velo.vel_id%}" >


</form>















{% endblock %}